<h3><%= post.title %></h3>

<% if post.picture.present? %>
	<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
<% end %>

<% post.tags.each do |tag| %>
	<%= link_to tag.text, tag %>
<% end %>