<br>
<%= link_to 'New post', new_post_path %>
<br>
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<h3><%= post.title %></h3>
		<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
	<% end %>
<% else %>
	No posts yet
<% end %> 
