/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 80px;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.form-group {
  color: #FFF;
}

@media(max-width: 767px) {
  .post {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    h3 {
      margin-top: 0;
    } 

  }
}

.post {
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  h3 {
    margin-top: 0;
    text-align: center;
  }
}

.like-btn {

  float: right;

  .glyphicon {
    color: #d43f3a;
  }
}

footer {
  text-align: center;
}